<div class="employee-form">
    <div class="container">

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Welcome!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <hr>
        </strong> Please, fill all the information below.
        </div>

        <div class="card border-info card-margin">
            <div class="card-header">
                <i class="fa fa-check-square icon-color" aria-hidden="true"></i>
                <a class="btn btn-info dropdown-toggle dropdown-toggle-split btn-align" data-toggle="collapse" href="#personal" role="button" aria-expanded="false" aria-controls="personal">
        Personal details
      </a></div>
            <div class="collapse" id="personal">
                <div class="card-body">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="card border-info card-margin">
            <div class="card-header">
                <i class="fa fa-check-square icon-color" aria-hidden="true"></i>
                <a class="btn btn-info dropdown-toggle dropdown-toggle-split btn-align" data-toggle="collapse" href="#document" role="button" aria-expanded="false" aria-controls="document">
            Document
          </a></div>
            <div class="collapse" id="document">
                <div class="card-body">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="card border-info card-margin">
            <div class="card-header">
                <i class="fa fa-check-square icon-color" aria-hidden="true"></i>
                <a class="btn btn-info dropdown-toggle dropdown-toggle-split btn-align" data-toggle="collapse" href="#contact" role="button" aria-expanded="false" aria-controls="contact">
                Contact details
              </a></div>
            <div class="collapse" id="contact">
                <div class="card-body">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="card border-info card-margin">
            <div class="card-header">
                <i class="fa fa-check-square icon-color" aria-hidden="true"></i>
                <a class="btn btn-info dropdown-toggle dropdown-toggle-split btn-align" data-toggle="collapse" href="#employment" role="button" aria-expanded="false" aria-controls="employment">
                    Employment details
                  </a></div>
            <div class="collapse" id="employment">
                <div class="card-body">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn submit-btn">Submit</button>
        </div>

    </div>