<div class="main-nav">
    <div class="container">
        <div class="accordion" id="accordionCollapse">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn badge badge-info btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Human Resource
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionCollapse">
                <div class="card-body text-center">
                


                    <button class="btn btn-outline-secondary">Login</button>
            
                
              </div>
            </div>
            
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn badge badge-info btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Employee
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionCollapse">
                <div class="card-body text-center">
                    <button routerLink="/employee-form" class="btn btn-outline-secondary">Login</button>                </div>
              </div>
            </div>
          </div>
    </div>

</div>
</div>
